name: Praxis Tests

on:
  push: 
    branches: [master, experimental]

jobs:
  test-ubuntu:
    runs-on: ubuntu-latest
    name: Build and Test Praxis on Ubuntu
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v2
        with:
          version: master
      - run: zig build test
  test-mac:
    runs-on: macos-latest
    name: Build and Test Praxis on MacOS
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v2
        with:
          version: master
      - run: zig build test

